.hero{
    display: flex;
    background-color: #301934;
    color:#ffc107;
    block-size:92vh;
    padding-inline:30px;
}

.hero-content{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding:20px;
}

.hero-text{
    font-size:3rem ;
    margin-block-end:10px;
    word-spacing:1%;
}

.hero-descripton{
    font-size:1.2rem ;
    max-inline-size:400px;
    margin-block-end:20px;
}

.hero-image{
    flex:1;
    background:url('Images/home page.jpg') center;
    background-size:90%;
    background-repeat:no-repeat;
}
